.caixa{
    background-color: #20195ff3;
}

.titulo{
   color: rgb(255, 255, 251) !important;
   font-weight: bold !important;
}

.botao{
    border-color: white !important;
    background-color: #6f6e72;
    color: white !important;
}

.postagens{
    background-color: white;
}